<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="picandtext text-center mb-4">
    <h1 class="fw-bold mb-5">URL Shortener</h1>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="" class="w-50 mb-5">
  </div>
  <div class="">
    <h1 class="fw-bold mb-4">成功囉!可以複製下方連結</h1>
    <a href="{{myInternet}}/{{NewRrl}}" class="fs-4 mr-3">{{myInternet}}/{{NewRrl}}</a>
    <button class="btn btn-outline-primary w-25 btn-lg " onclick="navigator.clipboard.writeText('{{myInternet}}/{{NewRrl}}')">Copy</button>
  </div>
</div>